:root {
    --body-bg: #FFAD05;
    --btn-text-color: black;
    --btn-color: linear-gradient(315deg, #d27127, #f9862e);
}

body {
    background-color: var(--body-bg);
    display: flex;
    flex-direction: column;
    font-family: 'Big Shoulders Display', cursive;
    margin: 0;
}

body.dark {
    background-color: #C84C09;
}

button {
    margin: 15px;
    display: block;
}

input {
    margin: 10px;
    border: none;
    border-radius: 15px;
    width: 200px;
    height: 40px;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 25px;
}

header {
    display: flex;
}

h1 {
    margin-left: 15px;
    font-size: 80px;
    animation-name: backInLeft;
}

.madlib-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.category-container {
    display: flex;
    margin-left: auto;
    height: 70px;
}

.random-word {
    display: inline-block;
    border: none;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 20px;
    border-radius: 10px;
    background: linear-gradient(315deg, #d27127, #f9862e);
    box-shadow: -41px -41px 82px #e77c2b, 41px 41px 82px #eb7e2b;
}

.category {
    border: none;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 25px;
    border-radius: 10px;
    background: linear-gradient(315deg, #d27127, #f9862e);
    width: 95px;
    height: 75px;
}

button.dark {
    background-color: black;
}

.bottom-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 10px;
}

.bottom-buttons {
    border: none;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 25px;
    border-radius: 10px;
    background: linear-gradient(315deg, #d27127, #f9862e);
}

.bottom-btns>button {
    width: 100%;
}

.animate__animated animate__rotateIn {
    animation-name: rotateIn;
}

#wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#madlib-content {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
    font-size: 40px;
    margin-left: 285px;
}

#generate-madlib {
    border: none;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 25px;
    border-radius: 10px;
    background: linear-gradient(315deg, #d27127, #f9862e);
}

#light-dark-button {
    /* height: 40px;
    position: absolute;
    bottom: 5%; */
    border: none;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 20px;
    border-radius: 10px;
    background: linear-gradient(315deg, #ff6f00, #f9862e);
    height: 40px;
    width: 90px;
    color: black;
}

#form {
    display: block;
    width: fit-content;
    position: absolute;
    left: 3%;
}

@media (max-width: 768px) {

    body{
        text-align: center;
    }

    h1{
        font-size: 40px;
        position: absolute;
        margin-top: 60px;
        left: 140px;
    }

    input {
        margin: 2px;
        border-radius: 10px;
        width: 100px;
        height: 20px;
        font-size: 13px;
    }

    .madlib-container {
        display: block;
        text-align: center;
    }
    
    .category-container {
        /* display:flex;
        justify-content: space-around; */
        /* margin-right: 45px; */
        height: 70px;
    }

    .category {
        font-size: 13px;
        border-radius: 8px;
        width: 50px;
        height: 25px;
    }

    .random-word {
        display: inline-block;
        font-size: 13px;
        border-radius: 5px;
    }

    .bottom-btns {
        margin-top: 200px;
    }

    .bottom-buttons {
        font-size: 13px;
        border-radius: 10px;
        margin-right: 25px;
    }

    .bottom-btns>button {
        width: 50%;
    }

    #light-dark-button {
        font-size: 13px;
        border-radius: 8px;
        height: 25px;
        width: 60px;
    }

    #form {
        left: 30%;
        margin-top: 30px;
    }

    #generate-madlib {
        font-size: 13px;
        margin-right: 25px;
    }

    #madlib-content {
        display: flex;
        /* justify-content: center; */
        /* text-align: center;
        align-items: center;  */
        /* height: 45em; */
        width: 50%;
        position: absolute;
        font-size: 16px;
        bottom: 300px;
        /* right: 20% */
        right: 120px;
    }


    
  }

/* @media only screen and (min-width: 768px) {
    .form{
      width: 325px;
      margin: 30px 15px 0;
    }
  } */